NEXT_PUBLIC_RPC=https://api.devnet.solana.com
NEXT_PUBLIC_FULLTIME_PROGRAM=2MzYe6Zo4AD2fuszYou7CcnVmo7cdq4WjKi8UERL652L
NEXT_PUBLIC_EXPLORER=https://explorer.solana.com
TXLINE_API=https://txline-dev.txodds.com
TXLINE_CREDS=../../.keys/txline-creds.devnet.json
ORACLE_PROGRAM=6pW64gN1s2uqjHkn1unFeEjAwJkPGHoppGvS715wyP2J
STAKE_MINT_PATH=../../.keys/stake-mint.json
